<div class="container mt-5">
  <h2>Cambiar Contraseña</h2>
  <form [formGroup]="formPassword" (ngSubmit)="onSubmit()">

    <!-- Contraseña actual -->
    <div class="mb-3">
      <label for="currentPassword" class="form-label">Contraseña Actual</label>
      <input type="password" id="currentPassword" class="form-control" formControlName="currentPassword">
      <div *ngIf="submitted && formPassword.get('currentPassword')?.errors" class="text-danger">
        La contraseña actual es requerida.
      </div>
    </div>

    <!-- Nueva contraseña -->
    <div class="mb-3">
      <label for="newPassword" class="form-label">Nueva Contraseña</label>
      <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
      <div *ngIf="submitted && formPassword.get('newPassword')?.errors" class="text-danger">
        <div *ngIf="formPassword.get('newPassword')?.hasError('required')">La nueva contraseña es requerida.</div>
        <div *ngIf="formPassword.get('newPassword')?.hasError('minlength')">Debe tener al menos 8 caracteres.</div>
        <div *ngIf="formPassword.get('newPassword')?.hasError('pattern')">Debe incluir mayúscula, minúscula y número.</div>
      </div>
    </div>

    <!-- Confirmar contraseña -->
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
      <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
      <div *ngIf="submitted && formPassword.hasError('notMatching')" class="text-danger">
        Las contraseñas no coinciden.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
  </form>
</div>
