
.btn-custom {
  background-color: #10152b; 
  color: #fff;       
  border: none;
}

.btn-custom:hover {
  background-color: #10152b; 
}

.custom-navbar {
  background-color: #10152b !important;
  color: #ffffff;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.custom-dropdown {
  background-color: #10152b !important;
  color: #ffffff; 
}

.navbar-brand {
  color: white !important;
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.3s ease;
  display: flex;
  justify-content: center; /* Centers the logo horizontally */
  width: 100%; /* Ensures it takes full width of the parent */
}

.vertical-divider {
  width: 2px; 
  height: 30px; 
  background-color: #ffffff; 
  margin: 0 15px; 
  align-self: center; 
}

.navbar-logo{
  height: 40px
}
